/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* start below */
body {
	color: #707070;
  font-family: 'robotoregular';
  font-size: 16px;
}

.container {
	margin: 0px;
	padding: 0px;
	background-color: aqua;
	width: 100%;
	height: 800px;
	background-image : url('  Mask Group 4.jpg')  ;
	background-size: 100% ,600px;
	text-align: center;
}


.header-top {
	width: 100%;
	height: 25px;
	background-color: black;
	text-align: right; 
	margin: 0px;
	padding: 0px;
		
}


.contact-info li {
	color: white; display: inline-block; margin-right: 150px ;margin-top: 2px
	 
}

.contact-info li  a {
	text-decoration: none ;color: white;
}
/*/.header-top*/

.header-buttom {
	width: 100%;
	height: 67px;
	background-color: #E5E5E5;
 
	margin: 0px;
	padding: 0px;
text-align: center;
position: relative;
}
 
	
		
.header-buttom h1 {
	text-align: left ; 
	padding-left: 50px;
	
	
	padding-top:  -20px;
	 
	position: relative;
	margin-top: -10px
	 
}
.header-buttom ul li {
	font-size: 21px;   
	display: inline-block ;   margin-left:   50px; padding-top: 10px  
	
}
.header-buttom  li a {
	text-decoration: none ; color: black 
	
}
/*header-buttom*/
.search-main {
	background-color: black;
	margin-top: 150px ;
	margin-left: 210px;
    width: 1088px;
	height: 450px;
	opacity: .8
		
}
.search-main p {
	opacity: 1;
	color: white;
	padding-top:  50px
}


	
 



.search-man {
	width: 800px;
	height: 130px; padding-left: 150px
}


	

.search-main li {
	margin-top: 100px;
	display: inline-block;
	opacity: 1;
	color: black;
	font-size: 24px;
	font-weight: normal;
	padding-left: 20px;
	 
		
		
}
.search-main #li-one {
	background-color: white ; 
}
.search-man .rest-li {
	background-color: gray ;}
/*search-main*/

.main-top {
	display: flex;
}